@media (min-width: 1200px) {

  .bgimg {
          background-image: url('../../assets/img/brand/accueil.png');
          background-repeat: no-repeat;
          background-position: 'center';
          background-size: 'cover';
          padding-top: '160px';
          background-size:100% auto;
      }
  
  }
  
  /*Hide in Other Small Devices */
  
  
  /* Landscape tablets and medium desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
  
        .bgimg {
          background-image: none;
      }
  
  }
  
  /* Portrait tablets and small desktops */
  @media (min-width: 768px) and (max-width: 991px) {
  
            .bgimg {
          background-image: none;
      }
  
  }
  
  /* Landscape phones and portrait tablets */
  @media (max-width: 767px) {
  
            .bgimg {
          background-image: none;
      }
  
  }
  
  /* Portrait phones and smaller */
  @media (max-width: 480px) {
  
            .bgimg {
          background-image: none;
      }
  
  }


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }